*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}


/* @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */



/* .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* nav bar css */
.navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shodow:0px 8px 6px -6px gray;
  border-bottom: solid gray !important;
}
.nav-link{
  font-weight: 300 !important;
  margin: 0 8px;
}
.active{
  border-bottom-style: solid;   /* Required */
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.navbar-brand{
  font-weight: bold !important;
  font-family: 'roboto', 'sans-serif' !important;
  letter-spacing: 3px;
}

.logo{
  margin-right: 7px;
  font-size: 20px;
  
}


.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}


/* footer component css */

.footer{
  color: white;
  padding: 25px;
  background: linear-gradient(to right, #9a9595,#000000);
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover{
  color: rgb(229, 210, 210);
  border-bottom: 1px solid white;

}


/* ======page not found css======= */

.pnf{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
}
.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal !important;
}


.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}



/* ======contactus page css======= */
.contactus_left img{
width: 500px;
height: 300px;

}
.contactus_left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.contactus_left h1{
  text-align: center;
  font-weight: 500;
  width: 300px;
  height: 60px;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 60px;
 
}
.contactus_left p{
  font-size: 20px;
}


/* ====Register Page css==== */


/* Product page css Start*/
.product-link{
  text-decoration: none;
  color:black;
}


